.contact {
    background: var(--background-Color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
  }
  
  .contact-text h4 {
    color: var(--text-Color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
  }
  
  .contact-text h2 {
    font-size: 3.5rem;
    line-height: 2;
    margin-top: -15%;
    text-align: center;
  }
  
  .contact-text p {
    color: var(--secondary-Color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
  }
  
  .list {
    margin-bottom: 2.8rem;
  }
  
  .list li {
    margin-bottom: 12px;
  }
  
  .list li a {
    display: block;
    color: var(--secondary-Color);
    font-size: 14px;
    transition: all .45s ease;
  }
  
  .list li a:hover {
    color: var(--text-Color);
    transform: translateX(5px);
  }
  
  .contact-icons i {
    height: 45px;
    width: 45px;
    background: var(--mainColor);
    color: var(--text-Color);
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
  }
  
  .contact-icons i:hover {
    background: var(--text-Color);
    color: var(--mainColor);
  }
  
  .contact-form form {
    position: relative;
  
  }
  
  .contact-form form input,
  form textarea {
    width: 100%;
    padding: 14px;
    background: var(--secondary-Color);
    color: var(--text-Color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .contact-form textarea {
    resize: none;
    height: 240px;
  }
  
  .contact-form .submit {
    display: inline-block;
    font-size: 16px;
    background: var(--mainColor);
    color: var(--text-Color);
    width: 160px;
    transition: all .45s ease;
  }
  
  .contact-form .submit:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
  .end {
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .end-text p {
    color: var(--text-Color);
    font-size: 14px;
  }
  
  .top i {
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--text-Color);
    font-weight: 800;
    background: var(--mainColor);
  }