* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style:none;
  scroll-behavior: smooth;
}

:root {
  --secondary:rgb(204, 161, 96);
  --white:white;
  --background-Color:#000000;
  --text-Color:#fff;
  --secondary-Color:#ccc;
  --mainColor:rgb(204, 161, 96);
  --big-font:5rem;
  --h2-font:3rem;
  --p-font: 1.1rem;
}

* {
  box-sizing: border-box;
}

.about {
  display: flex;
  align-items: center; 
  justify-content: space-around; 
  padding: 40px;
}

.about-img img {
  border-radius: 50px;
  width: 550px;
  height: 550px; 
}

.about-img {
  display: flex; 
  align-items: center; 
}

.about-text {
  width: 45%;
  line-height: 2;
  padding: 0 30px; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.about-btn {
  width: 250px; 
  height: 50px; 
  text-align: center; 
  line-height: 40px; 
  display: center; 
}