* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}


:root {
  --secondary: rgb(204, 161, 96);
  --skillColor: rgb(116, 116, 116);
  --white: white;
  --background-Color: #000000;
  --text-Color: #fff;
  --secondary-Color: #ccc;
  --mainColor: rgb(204, 161, 96);
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

body {
  background: var(--background-Color);
  color: var(--text-Color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all .45s ease;

}

.logo {
  color: var(--text-Color);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}

span {
  color: var(--mainColor);
}

.navlist {
  display: flex;
}

.navlist a {
  color: var(--secondary-Color);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all .45s ease;
}

.navlist a:hover {
  color: var(--mainColor);
}

.navlist a.active {
  color: var(--mainColor);
}

#menu-icon {
  font-size: 35px;
  color: var(--text-Color);
  z-index: 1001;
  cursor: pointer;
  margin: left;
  display: none;
}

/* /// HOME STYLING// */

section {
  padding: 160px 15% 120px;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(images/bg.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  margin-bottom: 10px;
}

.one {
  display: inline-block;
  margin-right: 7px;
  font-size: var(--big-font);
  font-weight: 500;
  color: var(--text-Color);
  align-items: center;
  justify-content: center;
}

.two {
  display: inline-block;
  margin-right: 7px;
  font-size: var(--big-font);
  font-weight: 500;
  color: var(--text-Color);
  align-items: center;
  justify-content: center;
}


.home-text h3 {
  color: var(--text-Color);
  margin: 0 0 35px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: var(--mainColor);
  border-radius: 5px;
  color: var(--text-Color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all .45s ease;

}

.btn:hover {
  transform: scale(0.9);
}

.btn2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-Color);
  margin-left: 35px;
}

.btn2 span i {
  height: 55px;
  width: 55px;
  background: transparent;
  border-style: solid;
  border-color: var(--mainColor);
  border-width: 2px;
  color: var(--text-Color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  border-radius: 50%;
  margin-right: 15px;
  transition: all .45s ease;
}

.btn2 span i:hover {
  transform: scale(1.1) translateY(5px);

}

.socials i {
  color: var(--mainColor);
  font-size: 3em;
  gap: 5px;
  margin: 5%;
  display: inline-flex;
}



.home-text {
    padding: 0 15px; 
}


h3 {
  font-size: 2rem; 
}


.button a {
  margin-bottom: 10px; 
}

.socials a {
  font-size: 24px; 
  margin: 0 10px;
}

/* ABOUT STYLING */


.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}

.about-img img {
  border-radius: 50%;
  width: 550px;
  height: 550px;
}

.about-img {
  display: flex;
  align-items: center;
 border-style: solid;
border-radius: 50%;
  border-color: var(--mainColor);
}

.about-text {
  width: 45%;
  line-height: 2;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-btn {
  width: 250px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  display: center;
}

/* SKILLS STYLING */
#skills {
  padding: 20px 15% 100px;
  height: 80%;
}

.skills {
  background: linear-gradient(var(--skillColor), var(--background-Color));
}

.skill-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}

.skill-bar {
  margin-bottom: 2.3rem;
}

.main-text {
  color: var(--text-Color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.main-text span {
  font-size: 24px;
  font-weight: bold;
}

.main-text h2 {
  font-size: 32px;
  font-weight: bold;
}



.skill-main h3 {
  margin-bottom: 2rem;
  font-size: var(--p-font);
  text-align: center;
}

.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.skill-left .skill-bar .bar {
  width: 1000px;
  height: 20px;
  background-color: var(--background-Color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background: #e4cc7bc8;
  border-radius: 25px;
  box-shadow: #828282c7;
}

.skill-bar .bar .html {
  width: 95%;
  animation: html 4s;
}

.skill-bar .bar .figma {
  width: 72%;
  animation: figma 3s;
}

.skill-bar .bar .angular {
  width: 98%;
  animation: angular 2s;
}

.skill-bar .bar .css {
  width: 85%;
  animation: css 5s;
}

.skill-bar .bar .bootstrap {
  width: 100%;
  animation: bootstrap 5s;
}

.skill-bar .bar .firebase {
  width: 98%;
  animation: firebase 5s;
}

.skill-bar .bar .mssql {
  width: 74%;
  animation: mssql 5s;
}

.skill-bar .bar .c {
  width: 95%;
  animation: c 5s;
}

.skill-bar .bar .java {
  width: 99%;
  animation: java 5s;
}

.skill-bar .bar .javascript {
  width: 98.2%;
  animation: javascript 5s;
}

.skill-bar .bar .typescript {
  width: 90.2%;
  animation: typescript 5s;
}

.skill-bar .bar .react {
  width: 65%;
  animation: react 5s;
}


@keyframes html {
  0% {
      width: 0%;
  }

  100% {
      width: 95%;
  }

}

@keyframes css {
  0% {
      width: 0%;
  }

  100% {
      width: 85%;
  }

}

@keyframes javascript {
  0% {
      width: 0%;
  }

  100% {
      width: 98.2%;
  }

}

@keyframes typescript {
  0% {
      width: 0%;
  }

  100% {
      width: 90.2%;
  }

}

@keyframes java {
  0% {
      width: 0%;
  }

  100% {
      width: 99%;
  }

}

@keyframes bootstrap {
  0% {
      width: 0%;
  }

  100% {
      width: 95%;
  }

}

@keyframes firebase {
  0% {
      width: 0%;
  }

  100% {
      width: 100%;
  }

}

@keyframes mssql {
  0% {
      width: 0%;
  }

  100% {
      width: 95%;
  }

}

@keyframes angular {
  0% {
      width: 0%;
  }

  100% {
      width: 98%;
  }

}

@keyframes react {
  0% {
      width: 0%;
  }

  100% {
      width: 65%;
  }

}

@keyframes figma {
  0% {
      width: 0%;
  }

  100% {
      width: 72%;
  }

}

@keyframes glow {
  0% {
      background: var(--mainColor);
      box-shadow: none;

  }

  100% {
      background: var(--mainColor);
      box-shadow: var(--secondary-Color);
  }

}

/* /// PORTFOLIO STYLING // */

#portfolio {
  padding: 20px 15% 100px;
  height: 80%;
}
.portfolio .main-text {
  height: 40vh;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;

}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;

}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), var(--mainColor));
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}

.layer h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p {
  color: var(--secondary-Color);
  font-size: 1rem;
  line-height: 1.8;
}

.layer i {
  color: var(--mainColor);
  margin-top: 20px;
  font-size: 20px;
  background: var(--text-Color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
}

/* //// Contact //// */

.contact {
  background: var(--background-Color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.contact-text h4 {
  color: var(--text-Color);
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}

.contact-text h2 {
  font-size: 3.5rem;
  line-height: 2;
  margin-top: -15%;
  text-align: center;
}

.contact-text p {
  color: var(--secondary-Color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 30px;
}

.list {
  margin-bottom: 2.8rem;
}

.list li {
  margin-bottom: 12px;
}

.list li a {
  display: block;
  color: var(--secondary-Color);
  font-size: 14px;
  transition: all .45s ease;
}

.list li a:hover {
  color: var(--text-Color);
  transform: translateX(5px);
}

.contact-icons i {
  height: 45px;
  width: 45px;
  background: var(--mainColor);
  color: var(--text-Color);
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all .45s ease;
}

.contact-icons i:hover {
  background: var(--text-Color);
  color: var(--mainColor);
}

.contact-form form {
  position: relative;

}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 14px;
  background: var(--secondary-Color);
  color: var(--text-Color);
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-form textarea {
  resize: none;
  height: 240px;
}

.contact-form .submit {
  display: inline-block;
  font-size: 16px;
  background: var(--mainColor);
  color: var(--text-Color);
  width: 160px;
  transition: all .45s ease;
}

.contact-form .submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; 
}

.end{
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.end-text p{
  color: var(--text-Color);
  font-size: 14px;
}

.top i{
 padding: 10px;
 border-radius: 8px;
 font-size: 15px;
 color: var(--text-Color);
font-weight: 800;
background: var(--mainColor);
}

/* Responsive CSS */


@media (max-width: 768px) {
  header {
    padding: 10px 2.5%;
  }

  .home-text h3 {
    font-size: 2rem;
  }

  .about {
    flex-direction: column;
  }

  .about-img img {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }

  .about-text {
    width: 100%;
  }

  .skill-main {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .portfolio-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .contact {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .contact-text h2 {
    font-size: 2.5rem;
  }

  .end-text p {
    font-size: 12px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  header {
    padding: 15px 5%;
  }

  .about-img img {
    width: 70%;
  }
}


@media (min-width: 1201px) {
  header {
    padding: 22px 15%;
  }

  .home-text h3 {
    font-size: 3rem;
  }

  .about-img img {
    width: 550px;
    height: 550px;
  }

  .skill-main {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-content {
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  }

  .contact {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-text h2 {
    font-size: 3.5rem;
  }

  .end-text p {
    font-size: 14px;
  }

  .home-text {
    padding: 0 10px;
  }

  h3 {
    font-size: 1.5rem;
  }

  .button a {
    margin-bottom: 5px;
  }

  .socials a {
    font-size: 20px;
    margin: 0 5px;
  }
          
}
@media (max-width: 768px) {
  video {
    object-position: center;
  }
}
