
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style:none;
  scroll-behavior: smooth;
}


:root{
  --secondary:rgb(204, 161, 96);
  --skillColor:rgb(116, 116, 116);
  --white:white;
  --background-Color:#000000;
  --text-Color:#fff;
  --secondary-Color:#ccc;
  --mainColor:rgb(204, 161, 96);
  --big-font:5rem;
  --h2-font:3rem;
  --p-font: 1.1rem;
}

body {
  background: var(--background-Color);
  color:var(--text-Color);
}

header{
  position: fixed;
  width:100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all .45s ease;
  
}

.logo{
  color: var(--text-Color);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}

span{
  color: var(--mainColor);
}

.navlist{
  display: flex;
}

.navlist a{
  color: var(--secondary-Color);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all .45s ease;
}

.navlist a:hover{
  color: var(--mainColor);
}

.navlist a.active{
  color: var(--mainColor);
}
  
#menu-icon{
  font-size: 35px;
  color: var(--text-Color);
  z-index: 1001;
  cursor: pointer;
  margin: left;
  display: none;
}